@import 'assets/styles/colors';

//Explore

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// songs list

.songs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.title-container { // for centering the title
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explore-container h3 {
  font-size: 1.2rem;
  font-family: Roboto-Medium, sans-serif;
  padding-left: 2%;
}

.songs-list-explore {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  width: 100%; //effects song list width
}

.songs-list-explore:after { //fixing last row problem with songs
  content: "";
  flex: inherit;
}

.songs-list-explore li {
  border: 1px solid #D8D8D8;
  width: 220px;
  height: 140px;
  margin: 0 65px 20px 10px; //margin right effects the other lines
  padding: 10px;
  font-size: 0.69rem;
  font-family: Roboto-Regular, sans-serif;
  position: relative;
  box-shadow: 2px 2px 1px 0 grey;
}

.songs-list-explore li span {
  line-height: 3;
}

.page-num-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.page-num-wrapper span {
  padding-right: 5%;
  padding-left: 5%;
  align-self: center;
}

.page-btn {
  font-size: 0.8rem;
  color: white;
  background-color: #2196F3;
  border: none;
  font-weight: bold;
  width: 100px;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
  background-size: 0;
  font-family: Roboto-Medium, sans-serif;
}
