html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  height: 100%;
  width: 100%;
  display: initial;
  /*overflow: auto;*/
  /*background-color: #1b6d85;*/
}

// fixing elements from library

a:not([class*=btn]) {
  background-size: 0;
  background: none no-repeat 0 10%;
  text-decoration: none;
  color: inherit;
  transition: background-position .3s cubic-bezier(.64, .09, .08, 1);
  will-change: background-position;
}

// both line customizes classes effects the line that is created while focused on an input of choice

.line-customize {
  margin-bottom: 40px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  will-change: background-position;
  transition: all .3s cubic-bezier(.64, .09, .08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 96%);
  background-position: -700px 0; // changes the line that appears on input
  background-size: 100% 100%; // makes the line that appears on input be on all the input because of the 100%
  background-repeat: no-repeat;
  color: #0e6252;
}

.line-customize:focus, .line-customize:valid {
  box-shadow: none;
  outline: 0;
  background-position: 0 0; //changes input line color
}

/*Font strategy*/

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 4rem;
  font-weight: normal;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
}

h4 {
  font-size: 2.6rem;
  font-weight: 300;
}

//Topbar

.top-bar {
  background-color: #2196F3;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 50px;
  padding: 0;
  //height: 50px;
}

.top-bar h1 {
  margin: 0;
}

.top-bar-left-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  text-decoration: none;
  color: white;
}

.logo-homepage-anchor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  text-decoration: none;
  color: white;
}

.nav--horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.nav--horizontal > ul > li {
  margin-top: 20px;
}

.nav--horizontal > ul > li > a {
  padding-bottom: 15px;
  padding-top: 15px;
}

.top-bar > input {
  border: 1px solid white;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0 5px 0 0;
  font-size: 1rem;
  color: white;
}

.top-bar > button {
  border: none;
  background-color: #2196F3;
  color: white;
}

//icon of the Topbar

.fa.fa-mixcloud.scale-topbar {
  font-size: 40px;
  color: white;
}

//Explore

.category-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  border-bottom: 1px solid black;
}

.category-nav > li {
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  padding: 10px;
  width: 100%;
}

.category-nav > li a {
  margin: 0 auto;
  text-decoration: none;
  color: black;
}

.songs-list-explore {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  width: 100%;
}

.songs-list-explore:after {
  content: "";
  flex: auto;
}

.songs-list-explore > li {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 0 24px 20px 10px;
  padding-left: 0;
}

//Signup & sign in

.sign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-sign-anchor {
  margin-top: 30px;
  display: flex; // arranging logo and title in sign papges
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #2196F3;
}

.scale-sign-logo {
  font-size: 80px;
  color: #2196F3;
}

.logo-sign-anchor h2 {
  font-size: 2rem;
  margin-bottom: 0;
  color: #2196F3;
}

.sign-form-wrapper {
  margin-top: 20px;
  width: 80%; //effects the width of the form and the position
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-form {
  width: 50%; //effects the width of the form and the position as well
}

.signin-title {
  font-size: 1.5rem;
  font-weight: bold;
  //padding-right: 290px; //here for signin / out title location
  margin-top: 20px;
}

.create-account-title {
  font-size: 1.5rem;
  font-weight: bold;
  //padding-right: 200px; //here for signin / out title location
  margin-top: 20px;
}

.sign-form label {
  color: #2196F3;
}

.sign-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid blue;
  margin-bottom: 25px;
  font-size: 1.2rem;
  width: 100%; //handles input line length
}

.handle-btn-location-sign { //had problems centering sign btn, solved with the div flex.
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-btn {
  align-items: center;
  color: white;
  background-color: #2196F3;
  border: none;
  font-weight: bold;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
  background-size: 0;
  font-family: Roboto, sans-serif;
}

a.sign-anchor-if-got-account {
  text-decoration: none;
  margin-left: 10px;
  color: #2196F3;
}


