html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  height: 100%;
  width: 100%;
  display: initial;
  /*overflow: auto;*/
  /*background-color: #1b6d85;*/
}

// fixing elements from library

a:not([class*=btn]) {
  background-size: 0;
  background: none no-repeat 0 10%;
  text-decoration: none;
  color: inherit;
  transition: background-position .3s cubic-bezier(.64,.09,.08,1);
  will-change: background-position;
}

// fixing inputs from library

input[type=email]:focus, input[type=email]:valid, input[type=text]:focus, input[type=text]:valid, input[type=password]:focus, input[type=password]:valid {
  box-shadow: none;
  outline: 0;
  background-position: 0 0; //changes input line color
}

input[type=email], input[type=text], input[type=password] {
  margin-bottom: 40px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  will-change: background-position;
  transition: all .3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom,rgba(255,255,255,0) 96%,#1abc9c 96%);
  background-position: -400px 0; // changes the line that appears on input
  background-size: 100% 100%; // makes the line that appears on input be on all the input because of the 100%
  background-repeat: no-repeat;
  color: #0e6252;
}

[class*=btn] {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  position: initial;
  cursor: pointer;
  margin-bottom: 0;
  background-size: 0;
  background: none no-repeat initial;
  transition: background-color .3s cubic-bezier(.64, .09, .08, 1), box-shadow .3s cubic-bezier(.64, .09, .08, 1);
  will-change: background-size, background-image;
  padding: 0 0;
  display: inline-block;
  font-family: Roboto, sans-serif;
  border: initial;
}

/*Font strategy*/

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 4rem;
  font-weight: normal;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
}

h4 {
  font-size: 2.6rem;
  font-weight: 300;
}

//Topbar

.top-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  //height: 50px;
}

.logo-homepage-anchor {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 30%; // effects the space between the logo and title
  padding-left: 2%;
  text-decoration: none;
  color: white;
}

//icon of the Topbar

.fa.fa-mixcloud.scale-topbar {
  font-size: 50px;
}

//Explore

.category-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  border-bottom: 1px solid black;
}

.category-nav > li {
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  padding: 10px;
  width: 100%;
}

.category-nav > li a {
  margin: 0 auto;
  text-decoration: none;
  color: black;
}

.songs-list-explore {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  width: 100%;
}

.songs-list-explore:after {
  content: "";
  flex: auto;
}

.songs-list-explore > li {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 0 24px 20px 10px;
  padding-left: 0;
}

//Signup

.signup-wrapper {
  display: flex;
  justify-content: center;
}

.logo-signup-anchor {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #2196F3;
}

.scale-signup-logo {
  font-size: 80px;
  color: #2196F3;
}

.logo-signup-anchor h2 {
  font-size: 2rem;
  margin-bottom: 0;
  color: #2196F3;
}

.signup-form-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-account-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 290px; //here for signin / out title location
  margin-top: 20px;
}

.signup-form label {
  color: #2196F3;
}

.signup-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid blue;
  margin-bottom: 25px;
  font-size: 1.2rem;
  width: 40%; //handles input line length
}

.signup-btn {
  align-self: center;
  text-transform: uppercase;
  color: white;
  background-color: #2196F3;
  border: none;
  font-weight: bold;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a.signin-anchor-if-got-account {
  text-decoration: none;
  margin-left: 10px;
  color: #2196F3;
}


