@import 'assets/styles/colors';

.auth.sign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth .logo-sign-anchor {
  margin-top: 30px;
  display: flex; // arranging logo and title in sign papges
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: $signPagesBlue;
  & h2 { // child of the logo-sign-anchor
    font-size: 2rem;
    margin-bottom: 0;
    color: $signPagesBlue;
  }
}

.auth .scale-sign-logo {
  font-size: 80px;
  color: $signPagesBlue;
}

.auth .sign-form-wrapper {
  margin-top: 20px;
  width: 80%; //effects the width of the form and the position
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth .sign-form {
  width: 50%; //effects the width of the form and the position as well
  & label {
    color: $signPagesBlue;
  }
  & input {
    border: {
      top: none;
      left: none;
      right: none;
      bottom: 1px solid blue;
    }
    margin-bottom: 25px;
    font-size: 1.2rem;

    width: 100%; //handles input line length
    &:focus {
      outline: none;
    }
  }
}

.signin-title {
  font: {
    size: 1.5rem;
    weight: bold;
  }
  //padding-right: 290px; //here for signin / out title location
  margin-top: 20px;
}

.auth .create-account-title {
  font: {
    size: 1.5rem;
    weight: bold;
  }
  //padding-right: 200px; //here for signin / out title location
  margin-top: 20px;
}

.auth .handle-btn-location-sign { //had problems centering sign btn, solved with the div flex.
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth .sign-btn {
  align-items: center;
  color: white;
  background-color: $signPagesBlue;
  border: none;
  font-weight: bold;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
  background-size: 0;
  font-family: Roboto, sans-serif;
}

.auth a.sign-anchor-if-got-account {
  text-decoration: none;
  margin-left: 10px;
  color: $signPagesBlue;
}
