@import 'assets/styles/colors';

.category-nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  background-color: #DDE4E6;
  & > li {
    padding: 10px 35px 10px 10px;
    font-family: Roboto-Light, sans-serif;
  }
  & > li:first-child { //genres bold
    font-weight: bold;
  }
  & > li a {
    margin: 0 auto;
    text-decoration: none;
    color: black;
  }
  & > li a:focus { // underlines the link on choice
    border-bottom: 1px solid black;
  }
}

//a:link,
//a:visited {
//  color: #3d3d3d;
//  font-weight: 300;
//}                        love hate example
//
//a:focus,
//a:hover,
//a:active {
//  color: #F14848;
//  outline: none;
//}
